<FlexboxLayout class="page">
    <StackLayout class="form">
       <Image src="res://tester" width="80%" class="input-field"></Image>

        <Label></Label>

        <StackLayout class="input-field">
            <TextField #username class="input" hint="Username" autocorrect="false" autocapitalizationType="none"
                returnKeyType="next" (returnPress)="focusPassword()"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout class="input-field">
            <TextField #password class="input" hint="Password" secure="true" [returnKeyType]="'done'"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <Label class="page-placeholder-red" [text]="errorMessage" *ngIf="!!errorMessage" styles="color: #eb1c24;"></Label>

        <Button [text]="'Log In'" (tap)="submit(username.text, password.text)" class="btn btn-primary m-t-20"></Button>
    </StackLayout>
</FlexboxLayout>