<div class="container-fluid">
  <h1 class="text-center coca-cola-text">Users</h1>
  <br>
  <app-user-table *ngIf="users" [users]="users" [outletsResolve]="outletsResolve" (deleteEvent)="deleteUser($event)"
    (userCreatedEvent)="createUser($event)" (userEditedEvent)="editUser($event)"></app-user-table>
</div>