<div class="container-fluid">
  <div class="table">
    <div class="row">
      <div class="col">
        <app-redemption-table *ngIf="redemptions" [redemptions]="redemptions"></app-redemption-table>
      </div>
    </div>
  </div>
</div>
