<div>
    <app-navbar></app-navbar>
</div>
<div>
    <router-outlet></router-outlet>

    <ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#eb1c24" type="fire" [fullScreen]="true" class="coca-cola-font h1">
        <p style="color: white"> Coca-Cola </p>
    </ngx-spinner>
</div>